config FINGERPRINT_GOODIX_FP
	tristate "Goodix fingerprint sensor"
	depends on INPUT_FINGERPRINT
	help
	  Say Y here to enable support for Goodix fingerprint sensor.

	  If unsure, say N.

	  To compile this driver as a module, choose M here.

choice
	prompt "Goodix fingerprint sensor bus support"
	depends on FINGERPRINT_GOODIX_FP
	default FINGERPRINT_GOODIX_FP_PLATFORM

config FINGERPRINT_GOODIX_FP_SPI
	bool "SPI bus support"
	depends on FINGERPRINT_GOODIX_FP && SPI
	help
	  Say Y here if you want to enable support for Goodix fingerprint
	  sensor through SPI bus.

config FINGERPRINT_GOODIX_FP_PLATFORM
	bool "Platform bus support"
	depends on FINGERPRINT_GOODIX_FP
	help
	  Say Y here if you want to enable support for Goodix fingerprint
	  sensor through platform bus.

endchoice

config FINGERPRINT_GOODIX_FP_NAV_EVENT
	bool "Goodix fingerprint sensor navigation events"
	depends on FINGERPRINT_GOODIX_FP
	help
	  Say Y here if you want to enable support for navigation events
	  in Goodix fingerprint sensor driver

config FINGERPRINT_GOODIX_FP_POWER_CTRL
	bool "Goodix fingerprint sensor power control"
	depends on FINGERPRINT_GOODIX_FP
	help
	  Say Y here if you want to enable power control in Goodix
	  fingerprint sensor driver.

config FINGERPRINT_GOODIX_FP_CLK_CTRL
	bool "Goodix fingerprint sensor SPI clock control"
	depends on FINGERPRINT_GOODIX_FP_SPI
	help
	  Say Y here if you want to enable SPI clock control support
	  in Goodix fingerprint sensor driver.

config FINGERPRINT_GOODIX_FP_NETLINK
	bool "Goodix fingerprint sensor netlink notification support"
	depends on FINGERPRINT_GOODIX_FP
	help
	  Say Y here if you want to enable notification support through
	  netlink in Goodix fingerprint sensor driver.

config FINGERPRINT_GOODIX_FP_DRM_EVENTS
	bool "Handle blank/unblank events sent by DRM"
	depends on FINGERPRINT_GOODIX_FP
	help
	  Say Y here if you want Goodix fingerprint sensor driver
	  to listen and handle blank/unblank events sent by DRM

config FINGERPRINT_GOODIX_FP_PANEL_LIGHT_ON
	bool "Light-on panel when finger touches the sensor"
	depends on FINGERPRINT_GOODIX_FP_DRM_EVENTS
	help
	  Say Y here if you want Goodix fingerprint sensor driver
	  to light panel on when finger touches the sensor.
